.main-box {
    width: 1026.31px;
    height: 679px;
    display: flex;
    gap: 3%;
}

.box {
    border-radius: 19px;
    transition: 3s;
    /* background-image: url(./images/1.jpg); */
}

.down-left-sec {
    background-color: blue !important;
    width: 100%;
    height: 70%;
}

.left-sec {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 3%;
}

.uper-left-sec {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 3%;
}

.rect1 {
    background-color: aqua;
    width: 50%;
    /* background-image: url(./images/1.jpg); */
}

.box1 {
    background-color: black;
    width: 40%;
    border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
}

.right-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.uper-right-sec {
    background-color: darkcyan;
    width: 100%;
    height: 40%;
}

.middle-sec-right {
    width: 100%;
    height: 30%;
    display: flex;
    gap: 3%;
}

.box2 {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

.rect2 {
    background-color: black;
    width: 40%;
    height: 100%;
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
}

.bottom-sec-box {
    background-color: rgb(37, 187, 54);
    width: 100%;
    height: 30%;
}